body {
    display: flex;
    justify-content: space-between;
}


h1 {
    text-align: center;
}

.delete {
    display: inline;
}

.quantity-text {
    text-align: center;
}

.name {
    font-size: larger;
    font-weight: bolder;
}

.non-buyable>form.delete,
.non-buyable>form.quantity>input[type=submit] {
    display: none;
}

.cerrarSesion {
    width: min-content;
}